<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/an2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/an2"
            android:label="生活助手">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WriteDiaryActivity"
            android:icon="@drawable/an2" />
        <activity android:name=".test.TestMainActivity" />
        <activity android:name=".DiaryActivity.DiaryDetailActivity" />
        <activity android:name=".NewsContentActivity" />
        <activity android:name=".NewsFirstRunActivity"
            android:label="请选择您喜欢的新闻类别"></activity>
    </application>

</manifest>